<!doctype html>
<html lang="en">

<head>
    <title>{{ resume.id }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <style>
        html {
            font-family: 'Poppins', sans-serif;
            font-size: 0.8rem;
        }

        body {
            background: white;
            /* rgb(204, 204, 204); */
        }

        @media screen {
            page {
                background: white;
                display: block;
                margin: 0 auto;
                margin-bottom: 0.5cm;
                box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
            }

            page[size="A4"] {
                width: 21cm;
            }

            page[size="A4"][layout="landscape"] {
                width: 29.7cm;
            }

            page[size="A3"] {
                width: 29.7cm;
                height: 42cm;
            }

            page[size="A3"][layout="landscape"] {
                width: 42cm;
                height: 29.7cm;
            }

            page[size="A5"] {
                width: 14.8cm;
                height: 21cm;
            }

            page[size="A5"][layout="landscape"] {
                width: 21cm;
                height: 14.8cm;
            }
        }

        @media print {

            body,
            page {
                margin: 0;
                box-shadow: 0;
            }
        }

        .page-container {
            padding: 5.5rem;
        }

        :root {
            --accent-color: rgb(0, 120, 108);
        }
    </style>
    <!-- can be overriden by different templates -->
    <style>
        .page-title {
            color: var(--accent-color);
            font-size: 1.75rem;
            /* calc(1.3rem + .6vw);*/
            font-weight: bolder;
            line-height: 2;
        }

        .text {
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.01rem;
        }

        .designation {
            font-weight: 700;
            line-height: 2;
            font-size: 1.25rem;
        }

        .section-header {
            color: var(--accent-color);
            font-weight: 700;
            line-height: 2;
            font-size: 1.25rem;
        }

        .institute-name {
            font-size: 1.5rem;
            font-weight: 700;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li::before {
            content: "•";
        }

        li span {
            position: relative;
            left: 1rem;
        }
    </style>
</head>

<body>
    <page size="A4">
        <div class="page-container container-fluid m-1">
            {% block content %}{% endblock %}
        </div>
    </page>
</body>

</html>
