{% extends 'base.html' %}
{% block content %}

<div id="full-name" class="page-title">
    {{ resume.contact_info.first_name }} {{ resume.contact_info.last_name }}
</div>
<div id="contact-info" class="text">
    {{ resume.contact_info.html | safe }}
</div><!-- #contact-info -->
<br>

<div id="target-title" class="designation">
    {% for target_title in resume.target_titles %}
    {% if target_title.is_active %}
    {{ target_title.text }}
    {% endif %}
    {% endfor %}
</div> <!-- #targe-title -->

<div id="professional-summary" class="text">
    {% for summary in resume.professional_summaries %}
    {% if summary.is_active %}
    {{ summary.text | replace('\n', '<br>') | safe }}
    {% endif %}
    {% endfor %}
</div><!-- #professional-summary -->
<br>

<div id="work-experience">
    <div class="section-header">WORK EXPERIENCE</div>
    {% for work_exp in resume.work_experiences %}
    {% if not work_exp.is_grouped %}
    <div>
        <span class="institute-name">{{ work_exp.company_name }}</span>
        &#x2022; {{ work_exp.location }}
        &#x2022; {{work_exp.start_date }} -
        {% if work_exp.is_present %}
        Present
        {% else %}
        {{ work_exp.end_date }}
        {% endif %}
    </div>
    {% endif %}
    <div class="designation">
        {{ work_exp.position }}
    </div>
    <div>
        <ul>
            {% for achievement in work_exp.achievements %}
            <li><span class="text">{{achievement | replace('\n', '<br>') | safe }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <br>
    {% endfor %}
</div><!-- #work-experience -->

<div id="education">
    <div class="section-header">
        EDUCATION
    </div>
    {% for education in resume.educations %}
    <div class="institute-name">
        {{ education.institution }}
    </div>
    <span class="designation">{{ education.degree }}</span> in {{ education.fields_of_study }}
    {% if education.location %}
        &#x2022; {{ education.location}}
    {% endif %}
    &#x2022; {{ education.start_date }} - {{ education.end_date }}
    <ul>
        {% for achievement in education.achievements %}
        <li><span class="text">{{ achievement | replace('\n', '<br>') | safe  }}</span></li>
        {% endfor %}
    </ul>
    <br>
    {% endfor %}
</div><!-- #education -->
<br>

<div id="certification">
    <div class="section-header">CERTIFICATIONS</div>
    {% for certification in resume.certifications %}
    <div>
        <div class="designation">
            {{ certification.name }}
        </div>
        <div class="text">
            {{ certification.provider }} &#x2022; {{ certification.date }}
        </div>
    </div>
    {% endfor %}
</div><!-- #certifications -->
<br>

<div id="skills">
    <div class="section-header">SKILLS</div>
    {% for skill in resume.skills %}
    <div class="text">{{ skill.name }} - {{ skill.info | replace('\n', '<br>') | safe }}</div>
    {% endfor %}
</div><!-- #skills -->
<br>

<div id="achievements">
    <div class="section-header">ACHIEVEMENTS</div>
    <ul>
        {% for achievement in resume.achievements %}
        <li>
            <span class="text">{{ achievement.text | replace('\n', '<br>') | safe }}</span>
        </li>
        {% endfor %}
    </ul>
</div><!-- #achievemnts -->

{% endblock %}
